<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <style>
        
    </style>
</head>
<body >
    <h1>Sign Up Form</h1>
    <form action="/signup" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" required><br><br>
        <label for="name">Email:</label>
        <input type="email" name="email" required><br><br>
        <label for="password">password:</label>
        <input type="password" name="password" required><br><br>
        <button type="submit">submit</button>
    </form>
</body>
</html>